
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        </head>
        <body>
            <div id="page-content">
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="margin-left: 50px">Giorgia's Book Catalog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <!-- Centered Emojis -->
            <div class="navbar-nav">
                <a class="nav-link disabled" href="#" aria-disabled="true" style=" padding-left: 0px; margin-left: 300px">📙📗📕📘</a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav" style="margin-right: 50px;">
            <ul class="navbar-nav ms-auto">
                
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/" style="margin-right: 20px;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/books">View Books</a>
                </li>
                <!-- Additional nav items here -->
            </ul>
        </div>
    </div>
</nav>
</div>